.defenders {
    
    &-dom {
        display: flex;
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        gap: 60px;
    }

    &-ext {
        display: flex;
        position: absolute;
        bottom: 85px;
        left: 50%;
        transform: translateX(-50%);
        gap: 60px;
    }
}