.forwards {

    &-dom {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 260px;
        gap: 100px;
    }

    &-ext {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 260px;
        gap: 100px;
    }
}