.game {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
    
    &-image {
        width: 80%;
        position: relative;
    }

    &-container {
        position: absolute;
        top: 0;
        width: 80%;
        height: 100%;
    }
}